// basic buttons style - we suggest you don't modify this file
// use the 📁custom-style/_buttons.scss file to create your custom buttons

@if variable-exists('cody-base-partials') == false or index($cody-base-partials, 'buttons') {
  .btn { // basic button style
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    font-size: var(--btn-font-size, 1em);
    border-radius: var(--btn-radius, 0.25em);
  }
}

:root {
  --btn-radius: 0.5em;
  --btn-font-size: 1em;
}

.btn {
  background: var(--color-white);
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.2;
  @include fontSmooth;
  box-shadow: var(--shadow-xs);
  transition: all 0.2s ease;
  width: 9.5rem; //buttons are same width no matter the content
  height: 3.5rem; //buttons are same height no matter the content

  &:hover {
    box-shadow: var(--shadow-sm);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

// themes
.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background: var(--color-primary-light);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--subtle {
  background: var(--color-white);
  color: var(--color-contrast-higher);

  &:hover {
    background: var(--color-primary-light);
    color: var(--color-white);
  }
}


// feedback
.btn--disabled, .btn[disabled], .btn[readonly] {
  opacity: 0.6;
  cursor: not-allowed;
}
