.about {

  .container-outer__img {
    --img-1-top: 12%;
    --img-2-right: -30%;
    --img-2-bottom: 33%;
  }

  .header {

    .photo-card__content {
      --bg-position-x: right;
      --bg-position-y: top -200px;
      --bg-size: 90%;

      @include breakpoint(sm) {
        --bg-position-x: left -8rem;
        --bg-position-y: bottom 5rem;
        --bg-size: cover;
      }

      @include breakpoint(md) {
        --bg-position-x: left;
        --bg-position-y: bottom;
      }
    }
  }


  .photo-card__content {
      --bg-position-x: left;
      --bg-position-y: bottom;

    @include breakpoint(sm) {
      --bg-position-x: right;
      --bg-position-y: bottom 10px;
    }

  }

  .talent {
    .photo-card__content {
      @include breakpoint(md) {
        --bg-position-x: left -150px;
        --bg-position-y: bottom;
      }
    }
  }


  .real-deal {
    .photo-card__content {

      @include breakpoint(md) {
        --bg-position-x: left;
        --bg-position-y: bottom;
      }
    }
  }

 //remove this after have create modulator class for .icon-card
 //so will show card in row format when class exists for breakpoint or devise
  .icon-card {
    @include breakpoint(sm) {
      grid-auto-flow: row;
      text-align: center;
    }
  }
}