// +++++++++++++++++
// ++ ABOUT PAGE  ++
// +++++++++++++++++


.about {

  .container-outer__img {
    --img-1-top: 12%;
    --img-2-right: -30%;
    --img-2-bottom: 33%;
  }

  // ++++++++++++++++++++
  // ++ HEADER SECTION ++
  // ++++++++++++++++++++

  .header {

    .photo-card__content {
      --bg-position-x: right;
      --bg-position-y: top -150px;
      --bg-size: 220%;
      --bg-image: url(../images/about/mobile/bg-pattern-hero-about-mobile.svg);

      @include breakpoint(sm) {
        --bg-image: url(../images/about/desktop/bg-pattern-hero-about-desktop.svg);
        --bg-position-x: left -8rem;
        --bg-position-y: bottom 5rem;
        --bg-size: cover;
      }

      @include breakpoint(md) {
        --bg-position-x: left;
        --bg-position-y: bottom;
      }
    }
  }

  // ++++++++++++++++++
  // ++ MAIN SECTION ++
  // ++++++++++++++++++

  .photo-card__content {
      --bg-position-x: left;
      --bg-position-y: bottom;

    @include breakpoint(sm) {
      --bg-position-x: right;
      --bg-position-y: bottom 10px;
    }

  }

  .talent .photo-card__content,
  .real-deal .photo-card__content {
    --bg-image: url(../images/shared/desktop/bg-pattern-three-circles.svg);
  }

  .talent {
    .photo-card__content {
      @include breakpoint(md) {
        --bg-position-x: left -150px;
        --bg-position-y: bottom;
      }
    }
  }

  .real-deal {
    .photo-card__content {
      @include breakpoint(md) {
        --bg-position-x: left;
        --bg-position-y: bottom;
      }
    }
  }

}