.about {

  .container-outer__img {
    --img-1-top: 12%;
    --img-2-right: -30%;
    --img-2-bottom: 33%;
  }

  .header {
    .photo-card__content {
      --bg-position-x: right;
      --bg-position-y: top -200px;
      --bg-size: 90%;

      @include breakpoint(sm) {
        --bg-position-x: left -8rem;
        --bg-position-y: bottom 5rem;
        --bg-size: cover;
      }

      @include breakpoint(md) {
        --bg-position-x: left;
        --bg-position-y: bottom;
      }
    }
  }

  .icon-card {
    @include breakpoint(sm) {
      grid-auto-flow: row;
      text-align: center;
    }
  }
}