// +++++++++++++++++++
// ++ CONTACT PAGE  ++
// +++++++++++++++++++


.contact {

    .container-outer__img {
    --img-2-bottom: 10%;
  }

  .hero {
    --bg-image: url(../images/contact/mobile/bg-pattern-hero-contact-mobile.svg);
    --bg-position-x: left -50px;
    --bg-position-y: top;
    --bg-size: 200%;

    padding: 4.5rem 1.5rem;
    text-align: center;
    display: grid;
    align-items: center;
    row-gap: 3rem;

    &__form {
      display: grid;
      gap: 1.5625rem;
    }


    .form-action-group {
      justify-self: center;
      margin-top: 1rem;
    }

    @include breakpoint(sm) {
      --bg-image: url(../images/contact/desktop/bg-pattern-hero-desktop.svg);
      --bg-position-x: left -100px;
      --bg-position-y: top -50px;
      --bg-size: auto;

      padding: 4.375rem 3.625rem;
      text-align: left;



      &__article {
        justify-items: start;

        p {
          max-width: 100%;
        }
      }

     .form-action-group {
       justify-self: end;
       margin-top: 0;
      }
    }

    @include breakpoint(md) {
      --bg-position-x: left;
      --bg-position-y: bottom;
      --hero-padding-x: 6rem;
      --bg-image-radius: 40rem;

      padding: 3.4375rem var(--hero-padding-x);
      grid-template-columns: calc(var(--bg-image-radius) - var(--hero-padding-x)) 1fr;

      &__article {
        p {
          max-width: 47ch;
        }
      }
    }
  }
}
