.contact {

  .hero {
    --bg-image: url(../images/contact/desktop/bg-pattern-hero-desktop.svg);
    background-position: left bottom;
    --hero-padding-y: 3.4375rem;
    display: grid;
    grid-template-columns: calc(38rem - var(--hero-padding-x)) 1fr;
    align-items: center;

    &__form {
      display: grid;
      gap: 1.5625rem;
    }

    .form-action-group {
      justify-self: end;
    }
  }
}