// +++++++++++++++++
// ++ INDEX PAGE  ++
// +++++++++++++++++

header {

  .hero {
    //set the position of the background circle
    --bg-position-x: left;
    --bg-position-y: top 6.5rem;
    --bg-size: 150%;

    overflow: hidden;
    padding: 5rem 0 27rem;
    position: relative;
    text-align: center;
    z-index: 0;

    &__text {
      --text-vspace-multiplier: var(--vspace-xxl); //controls the spacing between text
      margin-bottom: 1.5rem;
      display: grid;
      justify-items: center;

      h1 {
        max-width: 20ch;
      }

      p {
        max-width: 35ch;
      }
    }

    &__image {
      position: absolute;
      bottom: -45%;
      right: 50%;
      transform: translateX(50%);
      width: 39rem; //set the image width since it is the same size on all screens
      z-index: -1;
    }

    @include breakpoint(sm) {
      --bg-position-x: right -7.5rem;
      --bg-position-y: top 6.5rem;
      --bg-size: 90%;

      border-radius: var(--radius);
      padding-top: 3.75rem;

      &__text {
        --text-vspace-multiplier: var(--vspace-xl);
        margin-bottom: 1.2rem;

        p {
          max-width: 46ch;
        }
      }
    }

    @include breakpoint(md) {
      --bg-position-x: right;
      --bg-position-y: top;
      --bg-size: 55%;

      --hero-padding-y: 9.0625rem;
      --hero-padding-x: 6rem;

      text-align: left;
      padding: var(--hero-padding-y) var(--hero-padding-x);

      &__text {
        justify-items: start;
        margin-bottom: 2.5rem;
      }

      &__image {
        --image-padding: 10.75rem;
        top: calc(var(--hero-padding-y) - var(--image-padding));
        right: calc(var(--hero-padding-x) - var(--image-padding));
        transform: translateX(0%);
      }
    }
  }
}
