:root {
  --form-control-font-size: 1em;
  --form-control-padding-x: var(--space-xs);
  --form-control-padding-y: var(--space-xxs);
  --form-control-radius: 0em;
}

.form-control {
  color: var(--color-white);
  cursor: pointer;
  border-bottom: 1px solid var(--color-white);
  font-family: var(--font-primary);
  line-height: 1.2;
  @include fontSmooth;
  transition: all 0.2s ease;
  width: 100%;
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  resize: none;

  &::placeholder {
    opacity: 1;
    color: var(--color-contrast-low);
    text-transform: capitalize;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
    outline: none;
  }
}

.form-control--disabled, .form-control[disabled], .form-control[readonly] {
  cursor: not-allowed;
}

.form-control[aria-invalid="true"], .form-control--error {
  border-bottom: 2px solid var(--color-white);
  outline: none;
}

.form-legend {
  font-size: var(--text-md);
}

.form-label {
  font-size: var(--text-sm);
}