:root {
  --form-control-font-size: 1em;
  --form-control-padding-x: 1rem;
  --form-control-padding-y: 1rem;
  --form-control-radius: 0em;
}

//wrapper for form fields so can position error message relative
.form-control-group {
  position: relative;
}


.form-control {
  color: var(--color-white);
  cursor: pointer;
  border-bottom: 1px solid var(--color-white);
  font-family: var(--font-primary);
  line-height: 1.2;
  @include fontSmooth;
  transition: all 0.2s ease;
  width: 100%;
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  resize: none;
  transition: all 0.2s;

  &::placeholder {
    opacity: 1;
    color: var(--color-contrast-low);
    text-transform: capitalize;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
    outline: none;
  }
}

.form-control--disabled, .form-control[disabled], .form-control[readonly] {
  cursor: not-allowed;
}

.form-control[aria-invalid="true"], .form-control--error {
  border-bottom: 2px solid var(--color-white);
  outline: none;
}

.form-legend {
  font-size: var(--text-md);
}

.form-label {
  font-size: var(--text-sm);
}

.form-field-error {
  display: flex;
  align-items:center;
  font-size: 0.75em;
  position: absolute;
  right: 0;
  top: 0;
}

