:root {
  // radius
  --radius: 0.9375em; // border radius base size
}

a, .link {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.container.container--outer {
  max-width: var(--max-width-xl);
  --component-padding: 0;
}

.container {
  --component-padding: 10.3125rem;
}