:root {
  --radius: 0.9375em; // border radius base size
}

// ++++++++++++++++++++++
// ++ CONTAINER STYLES ++
// ++++++++++++++++++++++

.container-outer {
  max-width: 90rem;
  display: grid; //avoids margin collapsing
  grid-template-columns: 1fr;
  position: relative;
  overflow: hidden;

  &__img {
    display: none; //hide image on smaller screen sizes
  }

  @include breakpoint(lg) {

    &__img {
      display: block;
      position: absolute;
      z-index: -1;
    }
    &__img--1 {
      left: var(--img-1-left, 0);
      top: var(--img-1-top, 15%);
    }
    &__img--2 {
      right: var(--img-2-right, 0);
      bottom: var(--img-2-bottom, 17.5%);
    }
  }
}

.container {
  max-width: 1111px;
}

.container--width-100\@mobile {
  width: 100%;
  @include breakpoint(sm) {
    width: var(--container-width);
  }
}

// ++++++++++++
// ++ HEADER ++
// ++++++++++++

.header {
  margin-top: var(--nav-height); //move content down for fixed menu

  @include breakpoint(sm) {
    margin-top: initial; //remove margin used for menu when menu was fixed;
  }
}

// +++++++++++++++++
// ++ MAIN STYLES ++
// +++++++++++++++++

main {
  display: grid;
  margin-top: var(--space-xxxl); //space things out evenly
  gap: var(--space-xxxl); //pace things out evenly
}



// ++++++++++++++++++++++++
// ++ DESIGN PAGE STYLES ++
// ++++++++++++++++++++++++

.design {

  .container-outer__img {
      --img-1-top: 8%;
  }

  // +++++++++++++++++
  // ++ WIDE CARDS  ++
  // +++++++++++++++++

  .header {

    .wide-card {
      background-position: left 40px bottom 10px;
      padding: 6.5625rem 1.5rem;

      p {
        max-width: 40ch;
      }

      @include breakpoint(sm) {
        padding: 4rem;
        background-position: left  center;
      }

      @include breakpoint(md) {
        grid-template-columns: 1fr;
       background-position: left 40px bottom 10px;
      }
    }
  }

  // +++++++++++++++++++++++
  // ++ EXAMPLE CARDS  ++
  // +++++++++++++++++++++++

  .examples__cards {
    display: grid;
    gap: var(--space-xxl);

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.875rem;
    }
  }

}