:root {
  // radius
  --radius: 0.9375em; // border radius base size
}

.container {
  --component-padding: 10.3125rem;
  @include breakpoint(sm) {--component-padding: 10.3125rem;}
  @include breakpoint(lg) {--component-padding: 10.3125rem;}
}

.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    max-width: 202px;
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    gap: var(--space-lg);
  }
}

