
.bg-black-light {
  color: var(--color-white);
  background-color: alpha(var(--color-black-light), var(--bg-o, 1));
}

.rotate-180 {
  transform: rotate(180deg);
}

.bg-circle {
  background-image:  var(--bg-image, url(../images/home/desktop/bg-pattern-hero-home.svg));
  background-repeat: var(--bg-repeat, no-repeat);
  background-position: var(--bg-position-x, left) var(--bg-position-y, center);
  background-size: var(--bg-size, 100%);
}
