  :root {
 --bg-position-x: left;
 --bg-position-y: center;
 --bg-repeat: no-repeat;
 --bg-size: 100%;
 --bg-image: url(../images/home/desktop/bg-pattern-hero-home.svg);
}

.bg-black-light {
  color: var(--color-white);
  background-color: alpha(var(--color-black-light), var(--bg-o, 1));
}

.rotate-180 {
  transform: rotate(180deg);
}

.bg-circle {
  background-image:  var(--bg-image);
  background-repeat: var(--bg-repeat);
  background-position: var(--bg-position-x) var(--bg-position-y);
  background-size: var(--bg-size);
}
