  :root {
 --bg-position-x: left;
 --bg-position-y: center;
}

  .bg-primary {
    color: var(--color-white);
  }

  .bg-black-light {
    color: var(--color-white);
    background-color: alpha(var(--color-black-light), var(--bg-o, 1));
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  .bg-circle {
    background-image:  url(../images/about/desktop/bg-pattern-hero-about-desktop.svg);
    background-repeat: var(--bg-repeat, no-repeat);
    background-position: var(--bg-position-x) var(--bg-position-y);
  }

  .bg-circle--right-center {
    --bg-position-x: right;
  }

  .bg-circle--right-top {
    --bg-position-x: right;
    --bg-position-y: top;
  }

  .bg-circle--right-bottom {
    --bg-position-x: right;
    --bg-position-y: top;
  }

  .bg-circle--center-top {
    --bg-position-x: center;
    --bg-position-y: top;
  }

  .bg-circle--center-center {
    --bg-position-x: center;
  }

  .bg-circle--center-bottom {
    --bg-position-x: center;
    --bg-position-y: bottom;
  }

  .bg-circle--left-top {
    --bg-position-y: top;
  }

    .bg-circle--left-bottom {
    --bg-position-y: bottom;
  }