.cta-card {
  background-image: url(../images/shared/desktop/bg-pattern-call-to-action.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: var(--radius);
  padding: 4rem 1.5rem;
  display: grid;
  row-gap: 2rem;
  place-items: center;

  .text-component {
    text-align: center;
    display: grid;
    justify-items: center;
     --text-vspace-multiplier: var(--vspace-lg); //controls vertical spacing of text
  }

  &__title {
    max-width: 15ch;
  }

  &__text {
    max-width: 45ch;
  }

  @include breakpoint(sm) {
    background-position: left center;
    padding: 3.625rem;
  }

  @include breakpoint(md) {
    background-position: right center;
    padding: 4.5rem 6rem;
    grid-auto-flow: column;
    justify-content: space-between;

    .text-component {
      text-align: left;
      justify-items: start;
    }
  }
}