// +++++++++++++++++++++++
// ++ EXAMPLE CARD  ++
// +++++++++++++++++++++++


.example-card {
  display: grid;
  border-radius: var(--radius);
  overflow: hidden;

  .card {

    &__title {
      color: var(--color-primary);
      text-transform: uppercase;
    }

    &__text {
      max-width: 27ch;
    }

    &__link {
      background: var(--color-primary-lighter);
      display: grid;
      place-items: center;
      align-content: center;
      gap: 1rem;
      padding: 2.25rem 0px;
    }
  }

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: 1fr;
  }
}