// +++++++++++++++++++++++
// ++ EXAMPLE CARD  ++
// +++++++++++++++++++++++


.example-card {
  display: grid;
  border-radius: var(--radius);
  overflow: hidden;

  .card {

    &__title {
      color: var(--fg, var(--color-primary));
      text-transform: uppercase;
    }

    &__text {
      max-width: 27ch;
      color: var(--fg, inherit);
    }

    &__link {
      text-align: center;
      background: var(--bg, var(--color-primary-lighter));
      padding: 2.25rem 0px;
      display: grid;
      place-items: center;
      align-content: center;
      gap: 1rem;
      transition: all 0.4s;
    }

    &__link:hover {
      --bg: var(--color-primary);
      --fg: var(--color-white);
    }
  }

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: 1fr;
  }
}