// ++++++++++++++++++++
// ++ FOOTER ++
// ++++++++++++++++++++

.footer {
  --nav-height: 0;
  --bottom-padding: 4rem;
  --top-padding: 15.8125rem;
  --border-bottom: 1px solid #{alpha(var(--color-contrast-slight), 0.2)};
  --element-spacing: var(--space-xl); //controls the spacing between elements

  padding: var(--top-padding) 0 var(--bottom-padding);
  margin-top: calc(var(--bottom-padding) - var(--top-padding));
  z-index: 0;

  .nav__logo__container {
    width: 100%;
    border-bottom: var(--border-bottom);
    padding-bottom: var(--element-spacing);
    text-align: center;
  }

  .contact {
    color: alpha(var(--color-white), 0.5);
    text-align: center;
    display: grid;
    row-gap: var(--element-spacing);
    justify-items: center;

    .text-component {
       --line-height-multiplier: 0.5; // modify line-height of all text elements
    }

    &__social > * + * {
      margin-left: 1rem;
    }
  }


  @include breakpoint(sm) {
    --bottom-padding: 5rem;
    --top-padding: 10.375rem;
    --element-spacing: var(--space-lg);

   .nav {
   padding-bottom: var(--element-spacing);
    border-bottom: var(--border-bottom);

      &__logo__container {
        width: auto;
        border: none;
        padding-bottom: 0;
      }
    }

    .contact {
      padding-top: var(--element-spacing);
      text-align: left;
      grid-template-columns: repeat(3, 1fr);
      justify-items: start;

      &__social {
        place-self: end;
      }
    }
  }
}

.footer.footer-no-top-margin {
  margin-top: var(--space-xxxl);
  --top-padding: var(--bottom-padding);
}