// ++++++++++++++++++++
// ++ FOOTER ++
// ++++++++++++++++++++

.footer {
  --overlap: 4.5rem;
  padding: calc(2 * var(--overlap)) 0 var(--overlap);
  margin-top: calc(-1 * var(--overlap));
  z-index: -1;

  .nav {
    min-height: 100px;
    border-bottom: 1px solid var(--color-contrast-slight);
  }
}