:root {
  --nav-height: calc(2.5 * var(--space-xl));
}

.navigation {
  background: var(--bg, var(--color-white));
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: var(--nav-height);

  &__logo {
    max-width: 12.625rem;
    flex-shrink: 0;
  }

  &__list {
    background: var(--bg, var(--color-black-light));
    color: var(--fg, var(--color-white));
    display: grid;
     gap: var(--space-lg);
    padding: var(--space-xl) var(--component-padding);
  }

  @include breakpoint(sm) {
    flex-direction: row;
    .nav__icon {display: none;}
    &__list {
      grid-auto-flow: column;
      gap: var(--space-md);
     padding: 0;
    }
  }
}

// ++++++++++++++++++++++
// ++ FIXED NAVIGATION ++
// ++++++++++++++++++++++

.navigation.fixed {
  position: fixed;
  min-width: 100%;
  z-index: var(--zindex-header); //keep menu on top of all other content
  @include breakpoint(sm) {
    position: static;
  }
}

.nav.fixed {
   flex-direction: row;

  .nav__list {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
     transition: all .4s ease-in-out;
    a {
      font-size: 1.5rem;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100vh;
      background: alpha(var(--color-black), 0.5);
      position: fixed;
      left: 0;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }

    @include breakpoint(sm) {
     visibility: visible;
      opacity: 1;
      width: auto;
      background: inherit;
      position: static;
      a {
        font-size: initial;
        color: initial;
      }
    }
  }

  &.open {
    .nav__list, .nav__list::after {
    visibility: visible;
    opacity: 1;
    }
  }


}

  // ++++++++++++++++++
  // ++ Icon Control ++
  // ++++++++++++++++++

.nav.fixed {

  .nav__icon {
    cursor: pointer;
  }

  .nav__icon--close {
    display: none;
  }

  &.open {

    .nav__icon--open {
      display: none;
    }

    .nav__icon--close {
      display: inline-block;
    }
  }
}
