.photo-card {
  overflow: hidden;
  display: grid;

  &__content {
    text-align: center;
    padding: 80px 24px;
    display: grid;
    gap: 28px;
    place-content: center;
  }

  &__photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @include breakpoint(sm) {
     border-radius: var(--radius);


    &__content {
      padding: 4rem 3.625rem;
    }
  }

  @include breakpoint(md) {
    grid-auto-flow: column;

    &__content {
      padding: 8.4375rem 5.625rem;
      text-align: left;
    }

    &__photo {
      width: 476px;
    }

    &__photo--right {
      order: 1;
    }
  }
}
