// ++++++++++++++++++++
// ++ WIDE CARDS ++
// ++++++++++++++++++++

.wide-card {
  background-image: linear-gradient(145deg, var(--color-primary) 35%, alpha(var(--color-primary), 0.2) 45%), url(../images/shared/desktop/bg-pattern-call-to-action.svg);
  background-position: right center;
  border-radius: var(--radius);
  padding: 4rem 1.5rem;
  display: grid;
  place-items: center;
  gap: 2rem;

  .text-component {
    --text-vspace-multiplier: 2; //controls vertical spacing of text
    display: grid;
    place-items: center;
  }

  &__title {
    max-width: 15ch;
  }
  &__text {
    max-width: 45ch;
  }

  @include breakpoint(sm) {
    background-position: left center;
    padding: 3.625rem;
  }

  @include breakpoint(md) {
    padding: 4.5rem 6rem;
    background-position: right center;
    grid-auto-flow: column;
    justify-content: space-between;

    .text-component {
      justify-items: start;
    }
  }
}