// ++++++++++++++++++++
// ++ WIDE CARDS ++
// ++++++++++++++++++++

.wide-card {
  --bg-transform: none;
  padding: 4rem 1.5rem;
  display: grid;
  place-items: center;
  gap: 1.7rem;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &.wide-card--flip-horizontal{
     --bg-transform: rotateY(180deg);
  }

  &.wide-card--flip-vertical {
    --bg-transform: rotateX(180deg);
  }

  &::before {
    position: absolute;
    background-image: linear-gradient(140deg, var(--color-primary) 10%, alpha(var(--color-primary), 0) 100%), url(../images/shared/desktop/bg-pattern-call-to-action.svg);
    background-position: right center;
    content: '';
    transform: var(--bg-transform);
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
  }

  .text-component {
    --text-vspace-multiplier: 2; //controls vertical spacing of text
    display: grid;
    place-items: center;
  }

  &__title {
    max-width: 15ch;
  }

  &__text {
    max-width: 45ch;
  }

  @include breakpoint(sm) {
    border-radius: var(--radius);
    background-position: left center;
    padding: 3.625rem;

    .text-component {
       --text-vspace-multiplier: 1.4;
    }
  }

  @include breakpoint(md) {
    padding: 4.5rem 6rem;
    // background-position: right center; //I don;' think I need this
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    gap: 2rem;

    .text-component {
      justify-items: start;
      --text-vspace-multiplier: 1.7;
    }
  }
}